html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282828;
  color: #ebdbb2;
  font: 14px "Inconsolata", monospace;
  line-height: 20px;
}

.palette {
  display: none;
}
.palette span {
  color: #000;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 0;
  padding: 10px;
}

.container {
  margin: 30px;
}

code {
  font-family: "Inconsolata", monospace;
}

h1,
h2,
h3 {
  display: inline;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fabd2f;
}

h2 {
  color: #fb4934;
}

h3 {
  color: #83a598;
}

mark {
  color: #b8bb26;
  background-color: transparent;
}

var {
  color: #83a598;
  font-style: normal;
}

.title {
  color: #b8bb26;
}

a {
  color: #b8bb26;
  text-decoration: underline;
  font-style: italic;
}
a:hover {
}
