body {
  background-color: #383838;
  color: #ece8e3;
  font: 13px "Ubuntu Mono", serif;
  line-height: 16px;
}

.container {
  margin: 0 auto;
}

code {
}

h1,
h2,
h3 {
  display: inline;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  color: #e56244;
}

h2 {
  color: #b4ca6c;
}

h3 {
  color: #ffd178;
}

mark {
  color: #c3c1f1;
  background-color: transparent;
}

var {
  color: #7dabcc;
  font-style: normal;
}

.c1 {
  color: #5fac5c;
}

.c2 {
  color: #b4ca6c;
}

a {
  color: #7dabcc;
  text-decoration: none;
  font-style: italic;
}
a:hover {
}
